<?xml version="1.0"?>
<model>
  <name>flapping_model</name>
  <version>1.0</version>
  <sdf version='1.5'>flapping_model.sdf</sdf>

  <author>
   <name>Zeng Donghong</name>
   <email>zdh18@mails.tsinghua.edu.cn</email>
  </author>

  <description>
    This is a model for plugin test.
  </description>
</model>
